.btnCocco{
    background-color: #FBFCF3;
    border: 2px dashed #DCE086;
    border-radius: 10px;
    margin: 20px;
    outline: 3px solid #FBFCF3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}