.iputContainer{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: lightgray 1px solid;
    border-right: none;
    height: 50px;
    width: 200px;
    float: left;
    padding: 10px;
    background-color: white;
}

.btnSearch{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background-color: #F85F89;
    color: white;
    height: 50px;
    float: left;  
    width: 50px;  
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.btnSearch:hover{
    background-color: #e04972;
    
}

.searchInput{
    border: none;
    outline: none;
}